<?xml version="1.0" encoding="UTF-8" ?>
<odoo>

    <menuitem id="groundup_scale_menu_root"
              name="Scale Bridge"
              parent="point_of_sale.pos_config_menu"
              sequence="50"/>

    <menuitem id="groundup_scale_menu_devices"
              name="Devices"
              parent="groundup_scale_menu_root"
              action="groundup_scale_device_action"
              sequence="10"/>

    <menuitem id="groundup_scale_menu_plus"
              name="PLU Mappings"
              parent="groundup_scale_menu_root"
              action="groundup_scale_plu_action"
              sequence="20"/>

    <menuitem id="groundup_scale_menu_logs"
              name="Audit Log"
              parent="groundup_scale_menu_root"
              action="groundup_scale_log_action"
              sequence="30"/>

</odoo>
